@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.road {
  border-radius: 20% 20% 0 0;
  -webkit-border-radius: 50% 50% 0 0;
  min-height: 20px;
  min-width: 60%;
  max-width: 60%;
  border-bottom: 2px solid #6b7280;
  border-style: dashed;
}
